# Data Analysis of the ticker's data to predict the stock price in the future

In [49]:
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import json

# Get data from json

In [50]:
with open("./temp/history_of_stock.json") as f:
    data = json.load(f)['results']

In [51]:
df = pd.DataFrame(data)
df = df.rename(columns={'v': 'volume', 'vw' : 'volume weighted', 'o': 'open', 'c': 'close', 'h': 'high', 'l': 'low', 't': 'time', 'n': 'transaction'}).set_index('time')

df

,volume,volume weighted,open,close,high,low,transaction
time,,,,,,,
1643864400000,89418074,174.3835,174.480,172.90,176.2399,172.12,724838
1643950800000,82446700,172.3165,171.680,172.39,174.1000,170.68,702966
1644210000000,77251204,172.4426,172.860,171.66,173.9458,170.95,571410
1644296400000,74829217,173.8127,171.730,174.83,175.3500,171.43,634268
1644382800000,71204538,175.8287,176.050,176.28,176.6500,174.90,573996
...,...,...,...,...,...,...,...
1706504400000,47145622,191.2954,192.010,191.73,192.2000,189.58,599513
1706590800000,55836970,188.7927,190.940,188.04,191.8000,187.47,690705
1706677200000,55467803,185.3525,187.040,184.40,187.0950,184.35,679844
1706763600000,64885408,185.5688,183.985,186.86,186.9500,183.82,820977
1706850000000,102527680,184.7440,179.860,185.85,187.3300,179.25,1108465

# Starting Analysis